.content-wrapper {
  min-height: calc(100vh - 40vh - 80px);
}

.buttons-list{
  display: grid;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .buttons-list{
    width: 100%;
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .buttons-list{
    width: 100%;
    grid-template-columns: 1fr;
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .buttons-list{
    width: 100%;
    grid-template-columns: 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .buttons-list{
    width: 100%;
    margin: auto;
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 992px) {
  .buttons-list{
    width: 100%;
    margin: auto;
    grid-template-columns: 1fr 1fr;
  }
}
