.how{
  margin: 3rem;
  .bing-bang{
    font-size:3rem
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  img{
    object-fit: cover;
    padding: 1rem;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  img{
    object-fit: cover;
    padding: 1rem;
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  img{
    width: 50%;
    object-fit: cover;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  img{
    width: 50%;
    object-fit: cover;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  img{
    width: 50%;
    object-fit: cover;
  }
}
