<h2>Qui est ton date ?</h2>

<%= form_tag "/users", method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find your date"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
