<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">

      <div id="users">
        <% @users.each do |user| %>
          <h4>@<%= user.username %></h4>
        <% end %>
      </div>
    </div>
  </div>
</div>
