<div class="footer">
  <div class="cards-footer">
    <div class="logo-footer">
      <%= image_tag "logolarge.png" %>
    </div>
    <div class="footer-description">
      <p>Spots a été fait pour toi, pour vous, pour nous. <br> Pour ne plus galérer à trouver un bar sympa pour un premier date,
      notre algorithme te trouve les 5 meilleurs lieux en fonction de tes préférences.</p>
    </div>
    <div class="links">
      <h5>Sais-en plus</h5>
      <ul>
        <li><%= link_to "La petite histoire de l'app", storytime_path %></li>
        <li><%= link_to "A propos de nous", aboutus_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>



    </div>
    <div class="social-medias">
      <h5>On se retrouve ailleurs ?</h5>
      <a href=""><i class="fa-brands fa-instagram-square"></i></a>
      <a href=""><i class="fa-brands fa-facebook-square"></i></a>
      <a href=""><i class="fa-brands fa-twitter-square"></i></a>
      <h5>Autres</h5>
      <p>Mentions légales</p>
    </div>
  </div>
</div>
