<div class=" container homepage">
  <div class="logo">
    <%#= image_tag "logo.png", alt:"spots-logo" %>
  </div>
  <h1>Spoots</h1>

  <div class="cards-home">
    <div class="description-home">
      <p>Spoots a été fait pour toi, pour vous, pour nous.</p>
      <p>Pour ne plus galérer à trouver un bar sympa pour un premier date 🤯</p>
      <p>Notre algorithme te trouve les <strong>5 meilleurs lieux</strong> en fonction de tes préférences à toi et à ton date !</p>
    </div>
    <div class="d-flex cards-home justify-content-end align-items-center">
      <div class="main-btn">
        <div>
          <% unless user_signed_in?  %>
            <%= link_to "Rejoins-nous ! ✨", startdating_path%>
          <% else %>
            <%= link_to "Trouve ton Spot ! ✨", new_dating_path %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
