<%= render 'shared/navbar' %>
<div class="introduction">
  <h1>Why a form?</h1>
  <div class="container">
    <p>
      Our form has been well thought. <br>
      When you and your date have filled it, our tech will suggest you the best places that suit you both. <br>
      Finding the place you’ll go isn’t a pain anymore and your date can start the best way possible.
    </p>
  </div>
  <div>Start the form
  </div>
</div>
<%= render 'shared/footer' %>
