<div class="text-center session-title">
  <h1>Tous tes dates</h1>
  <h3>Tu as <%= @datings.count %> date(s) à ton actif</h3>
</div>

<% if @datings.nil? %>
  <p>Tu n'as pas encore fait de dates avec Spoots !</p>
  <p>Et si tu commençais ?</p>
<% else %>
  <div class="dating-cards">
    <% @datings.reverse.each_with_index do |dating, index| %>
      <div class="dating-card">
        <p>Date #<%= @datings.count - index %></p>
        <% if dating.participants.count == 1 %>
          <p>Ton date n'est ou n'était pas sur Spoots</p>
        <% elsif dating.participants.count == 2 %>
          <p>Ton date avec
            <% dating.participants.last.user.username.capitalize %>
          </p>
        <% end %>
        <%= link_to "see date", dating_path(dating) %>
      </div>
    <% end %>
  </div>
<% end %>


<p>Un nouveau date ?</p>
<div>
  <%= link_to "Commence le ici", new_dating_path, class:"see-suggestions" %>
</div>
