<h1>Tous tes dates</h1>

<% @datings.each do |dating| %>
  <%= dating.user.username %>
<% end %>

<p>Un nouveau date ?</p>
<div class="see-suggestions">
  <%= link_to "Commence le ici", new_dating_path, class:"" %>
</div>
