<h1>Tous tes dates</h1>

<% @datings.each do |dating| %>
  <%= dating.user.username %>
<% end %>

<p>Un nouveau date ?</p>

<%= simple_form_for(@dating) do |f| %>
  <%= f.submit "Nouveau date", class: "btn btn-primary"%>
<%end%>
