.main-btn{
  background: #83dcb1;
  border: 15px solid rgba(248, 194, 194, 0.66);
  border-radius: 22px;
  margin: 1rem 3rem;
  div{
    margin: 1rem 2rem;
    text-align: center;
    color: white;
    .sign-up{
      text-decoration: none;
      color:white;
      font-weight: bold;
      font-size: 44px;
    }
    .new-dating{
      font-size: 44px;
      text-decoration: none;
      color:white;
      font-weight: bold;
    }
  }
}

.send-email{
  background: #83dcb1;
  border-radius: 22Px;
  height: 3rem;
  border: 15px solid rgb(248, 194, 194);
  height: 2rem;
  align-items: center;
  height: 5em;
  width: 10em;
  .send-email:hover{
    opacity: 0.7;
  }
}

.see-suggestions{
  border: 5px solid rgba(248, 194, 194, 0.66);
  border-radius: 22Px;
  background: #83dcb1;

  &:hover{
    background-color:white;
    color: #FF5B3A;
    border-radius: 22Px;
  }
  a{
    color: #FF5B3A;
    text-align: center;
    padding:0.25rem 0.1rem;
    text-decoration: none;
  }
}

.btn-add-date{
  background: transparent;
  border: none;
}
