.cards-home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-home {
    grid-template-columns: 1fr;
  }
  .main-btn{
    width: 100%;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-home {
    grid-template-columns: 1fr;
  }
  .main-btn{
    width: 100%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-home {
    grid-template-columns: 1fr 1fr;
  }
  .main-btn{
    .sign-up{
      width: 22vw;
    }
    .new-dating{
      width: 40vw;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-home {
    grid-template-columns: 1fr 1fr;
  }
  .main-btn{
    .sign-up{
      width: 22vw;
    }
    .new-dating{
      width: 40vw;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-home {
    grid-template-columns: 1fr 1fr;
  }
  .main-btn{
    .sign-up{
      width: 22vw;
    }
    .new-dating{
      width: 40vw;
    }
  }
}

// users index
.user-cards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  .user-card{
    background-color: $navy;
    border-radius: 22px;
    color: $orange;
    text-align: center;
    margin: 1rem 1rem;
    img{
      width: 100%;
      padding: 0px;
      object-fit: cover;
      border-radius: 22px 0 0 22px;
    }
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .user-cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .user-cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .user-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .user-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .user-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}


// dating index

.dating-cards{
  display: grid;
  grid-gap: 16px;
  margin: 3rem 0rem;
  .dating-card{
    display: flex;
    border: white 1px solid;
    border-radius: 22px;
    background-color: white;
    align-items: center;
    padding: 3vh;
    .date-name{
      span{
        color: $orange;
      }
    }
    .dating-card-up{
      border-radius: 50%;
      // border: $orange 2px solid;
      padding: 1rem;
      color: white;
      background-color: $orange;
      height: 80px;
      width: 80px;
      a{
        color: white;
        text-decoration: none;
      }
    }
    .link-1{
      a {
        text-decoration: none;
        color: $orange;
      }
    }
    .link-2{
      a {
        text-decoration: none;
        color: $navy;
      }
  }
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .dating-cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .dating-cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .dating-cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .dating-cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .dating-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
