.footer {
  margin-top: 50px;
  color: $navy;
  background: $light-gray;

  p {
    font-weight: bold;
  }

}

.footer-top {
  display: flex;
  justify-content: space-around;
  align-items: center;

  img {
    height: 9vh;
  }

  a {
    color: $white;
    font-size: 2.5em;
  }
}

.footer-description {
  display: flex;
  justify-content: space-around;
  text-align: justify;
  margin-top: 1em;

  h5 {
    font-weight: bold;
  }

  a {
    text-decoration: none;
    color: $navy;
  }
}

.footer-bottom {
  margin-top: 1em;

  h5 {
    font-weight: bold;
  }

  a {
    text-decoration: none;
    color: $navy;
  }

  .social-medias {
    display: flex;
    justify-content: space-around;
  }

  .others {
    text-align: center;
    padding: 1em 0;
  }
}





// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  h5 {
    font-size: 16px;
  }
  .cards-footer {
    grid-template-columns: 1fr 1fr;
    font-size: 16px;

    .logo-footer {
      display:flex;
      justify-content: center;
      height: 15vh;

      img {
        height: 50%;
        margin-top: 2rem;
      }
    }
    .footer-description {
      padding: 32px;
    }

    .links, .social-medias {
      padding: none;
    }
  }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-footer {
    grid-template-columns: 1fr 1fr;
    font-size: 16px;

    h5 {
      font-size: 16px;
    }

    .logo-footer {
      display:flex;
      justify-content: center;
      height: 15vh;

      img {
        height: 50%;
        margin-top: 2rem;
      }
    }

    .footer-description {
      padding: 32px;
    }

    .links, .social-medias {
      padding: none;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-footer {
    grid-template-columns: 1fr 1fr;
    font-size: 16px;
    h5{
      font-size: 16px;
    }
    .logo-footer{
      display:flex;
      justify-content: center;
      height: 15vh;
      img{
        height: 50%;
        margin-top: 2rem;
      }
    }
    .footer-description{
      margin-top: 3rem
    }

    .links, .social-medias{
      padding: none;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-footer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 20px;
    margin-top: 4rem;
    h5{
      font-size: 20px;
    }
    .footer-description{
      margin-top: none;
      padding: 0Px 32px
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-footer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 20px;
    h5{
      font-size: 20px;
    }
  }
}
