.footer{
  height: 16vh;
  margin: 1vh 3vh;
  .cards-footer {
    display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    h5{
      font-weight: bold;
    }
    .footer-description{
      color:white;
      text-align: justify;
      // font-size:14px;
    }
    .links{
      color:white;
      margin: 0 !important;
      width: 99%;
      margin: auto;
      // padding: 32px;
      a{
        text-decoration: none;
        color: white;
      }
      a:hover{
        color:#83DCB1;
      }

    }
    .social-medias{
      color:white;
      h5{
        font-weight: bold;
      }
      a{
        text-decoration: none;
        color:white;
      }
      a:hover{
        color:#83DCB1;
      }
    }
  }
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  h5{
    font-size: 16px;
  }
  .cards-footer {
    grid-template-columns: 1fr 1fr;
    font-size: 16px;
    .logo-footer{
      display:flex;
      justify-content: center;
      height: 15vh;
      img{
        height: 50%;
        margin-top: 2rem;
      }
    }
    .footer-description{
      padding: 32px;
    }

    .links, .social-medias{
      padding: none;
    }
  }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-footer {
    grid-template-columns: 1fr 1fr;
    font-size: 16px;
    h5{
      font-size: 16px;
    }
    .logo-footer{
      display:flex;
      justify-content: center;
      height: 15vh;
      img{
        height: 50%;
        margin-top: 2rem;
      }
    }
    .footer-description{
      padding: 32px;
    }
    .links, .social-medias{
      padding: none;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-footer {
    grid-template-columns: 1fr 1fr;
    font-size: 16px;
    h5{
      font-size: 16px;
    }
    .logo-footer{
      display:flex;
      justify-content: center;
      height: 15vh;
      img{
        height: 50%;
        margin-top: 2rem;
      }
    }
    .footer-description{
      margin-top: 3rem
    }

    .links, .social-medias{
      padding: none;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-footer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 20px;
    margin-top: 4rem;
    h5{
      font-size: 20px;
    }
    .footer-description{
      margin-top: none;
      padding: 0Px 32px
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-footer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 20px;
    h5{
      font-size: 20px;
    }
  }
}
