.form{
  .form-grid{
    display: grid;
    grid-gap: 16px;
  }

  .email-message{
    input{
      height: 30vh;
    }
  }
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .form{
    width: 100%;
    .form-grid {
      grid-template-columns: 1fr
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .form{
    width: 100%;
    .form-grid {
      grid-template-columns: 1fr
    }
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .form{
    width: 100%;
    .form-grid {
      grid-template-columns: 1fr
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .form{
    width: 70%;
    margin: auto;
    .form-grid {
      grid-template-columns: 1fr 1fr;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 992px) {
  .form{
    width: 70%;
    margin: auto;
    .form-grid {
      grid-template-columns: 1fr 1fr;
    }
  }
}
