.users-input{
  display: grid;
  grid-gap: 16px;
  padding: 0rem 1rem;
  label{
    font-size: 14px;
  }
}

.users-agreement{
  padding: 0rem 1rem;
  #user_agreed_to_mails{

  }
}
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .users-input{
    width: 100%;
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  .users-input{
    width: 100%;
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .users-input{
    width: 100%;
    grid-template-columns: 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .users-input{
    width: 100%;
    margin: auto;
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
  .users-input{
    width: 100%;
    margin: auto;
    grid-template-columns: 1fr 1fr;
  }
}
