$orange:#FF5C3A;
$navy : #192637;
.session-title{
  color:$orange;
}

.users-input{
  display: grid;
  grid-gap: 16px;
  padding: 0rem 1rem;
  width: 70%;
  margin: auto;
  label{
    font-size: 14px;
  }
  .form-text {
    color:white;
    opacity: 0.8;
  }
}

.users-agreement{
  padding: 0rem 1rem;
  align-items: center;
  label{
    font-size:14px;
    margin-left:1rem;
  }
}
.checkbox-description{
  p{
    font-size: 14px;
    padding: 0rem 1rem;
  }
}

.gender-input{
  padding: 0rem 1rem;
  width: 70%;
  margin:auto;
  label{
    font-size:14px;
  }
}

.form-actions{
  .btn{
    color: $orange;
    border: $orange 3px solid;
    border-radius: 22px;
  }
  .btn:hover{
    background-color: $navy;
    border: $orange 3px solid;
    color: white;
    border-radius:22px
  }
  // input{
  //   color:white;
  //   border: white 1px solid;
  //   border-radius: 22Px;
  // }
  // input:hover{
  //   background-color: white;
  //   color: #FF5C3A;
  //   border: none;
  //   border-radius: 22Px;
  // }
}

.devise-shared-links{
  a{
    text-decoration: none;
    color: $orange;
    border-radius: 22Px;
    border: white 3px solid;
    padding: 0.375rem 0.75rem;
  }
  a:hover{
    border: $orange 3px solid;
    background-color: white;
    color: #FF5C3A;
    border-radius: 22Px;
    padding: 0.375rem 0.75rem;
    // padding: 0.5em;

  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .users-input{
    // width: 100%;
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  .users-input{
    // width: 100%;
    grid-template-columns: 1fr;
  }
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .users-input{
    // width: 100%;
    grid-template-columns: 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .users-input{
    // width: 100%;
    // margin: auto;
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
  .users-input{
    // width: 100%;
    // margin: auto;
    grid-template-columns: 1fr 1fr;
  }
}
